<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Css.css">
    <title>
        This is am Israeli Pizza place contact us page, the Pizzeria loacated in Ben Gurion University BeerSheba
    </title>
</head>


<body id="ContactUsBody">  
    <nav>
        <a href="homepage.html">Home page</a>
        <a href="https://in.bgu.ac.il/Pages/default.aspx">Ben Gurion University Website</a>
    </nav>

    <hr class="hr" id="hr contact us" color="orange"/>
    <style>
        
        
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: orange;
          color: white;
          text-align: center;
        }
        
        </style>

        <div class="footer">
            <p>The Camel's Pizza</p>
          </div>

     
          <h1 id="mainHeadercontactUs" class="mainHeader" >
             <i> Contact Us ! </i>
          </h1>
          <h2  id="secondHeader" class="Headers">
              Please fill the data Below
          </h2>
          
    
          <form action="homepage.html" method="post"> 
           <div>
           <label for="full name"  class="lables" id="full name label" >
               Full name
           </label> 
           <input type="text" id="full name" class="data" name="full name" autocomplete="on" required> <br> 
        </div>
        <div>
           <label for="email"  class="lables" id="email label">email</label>
           <input type="email" id="email" class="data" name="email" required>
        </div>
        <div>
            <label for="dateofbirth" id="date of birth lable" class="lables" >Date of Birth</label>
            <input type="date" id="date of birth" name="date of birth" class="data">
        </div>
        <div>
            <label for="phone" id="phone lable" class="lables">Phone number</label>
            <input type="tel" id="phone"class="data" name="phone" pattern="[0-9]{3}-[0-9]{7}"
       required>
        </div>

        <span>
        <label for="offers" id="offers lable" class="lables" > I want to get special offers and discounts to my email </label>
        <input type="checkbox" name="agreement" id="agreement" class="data">
        <input type="submit"  id="submit" name="submit" class="buttons">
            <!--6 diffrent types of input-->

        </span>
    <br>
        <img src="..\Static\BGU.png" alt="Ben Gurion University symbol"  class="imagesContactUs" id="BGUpic" >
        <img src="..\Static\CamelPhone.jpg" alt="Camel phone" class="imagesContactUs" id="Camel Phone">
    </form>
    
    
</body>
</html>