


#ContactUsBody{
    background-color: #FFD68A;
}

#homepageBody{
    background-image: url("../Static/pizzatemplate\ \(2\).jpg");
    background-size: cover;
    background-repeat: no-repeat;  

}
.spans{
    margin-left: 30px;
    border:3px orange;
    border-style: dotted;
    background-color: #FFD68A;

}

.lables{
    margin-left: 30px;
}
.imagesContactUs{
    width: 140px;
}

 #secondHeader{
     margin-left: 30px;
 }
 #BGUpic{
     margin: 30px;
 }
.imagesButoom{
    width: 80px;
    }
#div{
    margin-left: 30px;
}
.mainHeader{
    margin-left: 30px;
    border: 4px orange;
    border-style: dashed;
    padding:30px;
    color:orange;
}

.buttons{
    margin-left: 30px;
    border: 2px orange;
    border-style: double;
    padding:12px;  
}
   a:visited{
    color: #B7AC44;
   }
   a:link{
    color: #FF4500;
   }
   a:hover{
       color: #DF362D;
   }
    
   
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #A36A00;
} 
