<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    This is am Israeli Pizza place home page, the Pizzeria loacated in Ben Gurion University BeerSheba
    <!--The user will not see that -->

</title>
</head>

<body>
  <hr class="hr" id="homepage hr"color="orange"/>
    <style>
        .footer { 
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: orange;
          color: white;
          text-align: center;
        }
        </style>
        <div class="footer">
            <p>The Camel's Pizza</p>
          </div>
          <!--footer for both pages -->
<h1 class="Headers" id="mainHeader" style="margin: 30px; padding: 30px;color: orange;">
  <i>Welcome to The Camel's Pizza  </i>
</h1>
<h2 class="Headers" id="secondHeader" style="margin: 30px;">
    We are offering an incredible pizza, in student prices!
</h2>
<p class="text" id="firstText" >
  <span style="margin-left: 30px;">
<ins>So if you want to try the hottest pizza in the desert just CALL US!</ins>
</span>
<br>
<img src="C:\Users\sfron\Documents\Erez-Babai\Static\Camel.jpg" alt="Camel eat pizza" style="width: 250px;"id="camel eat pizza pic" class="images">
<br>
<div style="margin-left: 30px;">
<strong>08-9795354 </strong>
<br>
Since 2022
</div>
<span style="margin: 30px;">
<img src="C:\Users\sfron\Documents\Erez-Babai\Static\BGU.png" alt="Ben Gurion University symbol" style="width: 80px;" class="images" id="BGU symbol pic">
<img src="C:\Users\sfron\Documents\Erez-Babai\Static\PizzaGif.gif" alt="Pizza gif" style="width: 80px; " class="gif" id="pizza gif">
</span>
<!--2 pics -->
<div style="margin-left: 30px;">
Located near Building Num.72.
</div>
</p>
<a href="contactUs.html" >  
    <button style="padding: 12px; margin-left: 30px;" id="contact us button"  class="buttons">Contact Us!</button>  
    <!--Transfer to contact us page -->
  </a>
</body>
</html>