<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="Css.css">
    <title>
    This is am Israeli Pizza place home page, the Pizzeria loacated in Ben Gurion University BeerSheba
    <!--The user will not see that -->

</title>
</head>

<body id="homepageBody">
  <nav>
    <a href="contactUs.html">Contact Us page</a>
    <a href="https://in.bgu.ac.il/Pages/default.aspx">Ben Gurion University Website</a>
</nav>

  <hr class="hr" id="homepage hr" color="orange"/>
    <style>
        .footer { 
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: orange;
          color: white;
          text-align: center;
        }
        </style>
        <div class="footer">
            <p>The Camel's Pizza</p>
          </div>
          <!--footer for both pages -->
<h1 class="mainHeader" id="mainHeaderhomepage" >

  <i>Welcome to The Camel's Pizza  </i>
</h1>
<h2 class="Headers" id="secondHeader" style="margin: 30px;">
    We are offering an incredible pizza, in student prices!
</h2>
<p class="text" id="firstText" >
  <span class="spans" >
<ins>So if you want to try the hottest pizza in the desert just CALL US!</ins>
</span>
<br> <br>
<img src="..\Static\Camel.jpg" alt="Camel eat pizza" style="width: 250px;"id="camel eat pizza pic" class="images">
<br>

<span class="spans">
08-9795354 
Since 2022
</spans>
<div id="div" >
<img src="..\Static\BGU.png" alt="Ben Gurion University symbol"  class="imagesButoom" id="BGU symbol pic">
<img src="..\Static\PizzaGif.gif" alt="Pizza gif"  class="imagesButoom" id="pizza gif">
</div>

<!--2 pics -->
<div style="margin-left: 30px;">
Located near Building Num.72.
</div>
</p>
<a href="contactUs.html" >  
    <button  class="buttons">Contact Us!</button>  
    <!--All the box model -->
  </a>
  
</body>
</html>